.first__book-title {
  color: #F29641;
}

.first__book-number {
  color: #F29641;
}

.second__book-title {
  color: #9A3D43;
}

.second__book-number {
  color: #9A3D43;
}

.third__book-number {
  color: #ADC239;
}

.third__book-title {
  color: #ADC239;
}

.fourth__book-title {
  color: #E1B41F;
}

.fourth__book-number {
  color: #E1B41F;
}