@import "fonts";
@import "vars";

.header {
  font-family:  $ubuntu;
  width: 100%;
  background: rgba(98, 82, 176, 0.47);
  position: fixed;
  z-index: 1000;
  left: -100%;
  transition: all .3s linear;

  &__inner {
    width: max-content;
    height: 100vh;
    background: #FEDE77;
    border-radius: 0 28px 28px 0;
    padding: 16px 24px 29px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

    &-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1000;

      &-circle {
        text-decoration: none;
        margin: 0 0 23px 0;
        transition: all .3s linear;

        & path {
          transition: all .3s linear;
        }

        &:hover {
          & path {
            fill: #fff;
          }
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    &-nav {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-logo {
        margin: 10px 0 34px 0;
        cursor: pointer;

        & line {
          transition: all .3s linear;
        }
        & svg{
          transition: all .3s linear;
        }

        &:hover {
          & line {
            stroke: #F2A661;
          }
          & svg{
            transform: rotate(90deg);
          }
        }
      }

      &-link {
        text-decoration: none;
        color: #000000;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.14em;
        margin: 0 0 21px 0;
        border-bottom: 3px solid #FEDE77;
        transition: all .3s linear;
        padding: 0 0 3.5px 0;

        &:hover {
          border-bottom: 3px solid #EF5F5F;
        }

        &:last-child {
          margin: 0;
        }
      }
    }

  }
}

/*BURGER*/
.main {
  &__header {
    padding: 38px 0 0 0;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & a {
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        position: relative;
        color: #425154;

        & p {
          margin: 0 6px 0 0;
        }

        & svg {
          transition: all .3s linear;
        }

        & rect {
          transition: all .3s linear;
        }

        & path {
          transition: all .3s linear;
        }

        & line {
          transition: all .3s linear;
        }

        &:hover {
          & rect {
            stroke: #F2A661;
          }

          & path {
            stroke: #F2A661;
          }

          & line {
            stroke: #F2A661;
          }
        }
      }
    }

    &-menu {
      background: none;
      transform: scale(1);
      transition: all .3s linear;

      &.white__menu {
        & span {
          background: #fff;
        }
      }

      & span {
        display: block;
        height: 6px;
        background: #000;
        border-radius: 100px;
        margin: 0 0 7px 0;
        transition: all .3s linear;

        &:first-child {
          width: 35px;
        }

        &:nth-child(2) {
          width: 45px;
        }

        &:last-child {
          width: 25px;
          margin: 0;
        }

      }

      &:hover {
        & span {
          &:first-child {
            width: 45px;
            background: #F2A661;
          }

          &:nth-child(2) {
            width: 55px;
            background: #F2A661;
          }

          &:last-child {
            width: 35px;
            background: #F2A661;
          }
        }
      }
    }
  }
}
