@import "reset";
@import "fonts";
@import "global";
@import "libs";
@import "vars";

html {
  width: 100vw;
}

body {
  font-size: 40px;
  font-family: $montAlter;
  overflow-x: hidden;
  background: #F2EFEE;
}

.main {
  &__header {
    padding: 38px 0 0 0;
    background: url("../img/header__bg.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;

    &-year {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%) rotate(90deg);

      & p {
        font-family: $ubuntu;
        height: 367px;
        font-size: 48px;
        font-weight: 300;
        letter-spacing: 1.79em;
      }
    }
  }

  &__slider {
    &-img {
      max-width: 356px;
      border-radius: 100%;
      margin: 0 0 21px 0;
    }

    &-title {
      font-size: 34px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 10px 0;
    }

    &-date {
      font-size: 12px;
      margin: 0 0 35px 0;
      font-weight: 300;
    }

    &-info {
      height: 70px;
      font-size: 20px;
      text-align: center;
      margin: 0 0 20px 0;
    }

    &-btn {
      text-decoration: none;
      color: #fff;
      padding: 11px 36px;
      text-transform: uppercase;
      font-size: 28px;
      cursor: pointer;
      font-weight: 700;
      background: #F5B000;
      box-shadow: -2px -2px 7px rgba(255, 232, 150, 0.58), 2px 2px 6px rgba(125, 90, 0, 0.83);
      border-radius: 25px;
      transition: all .3s linear;

      &:hover {
        background: #fcca3a;
        //box-shadow: inset -2px -2px 7px rgba(255, 232, 150, 0.58), inset 2px 2px 6px #7D5A00;
        transition: all .3s linear;
      }
    }
  }

  &__inner {
    margin: 160px 0 0 0;

    &-slider {
      transition: all .3s linear;

      &-item {
        width: 370px;
        padding: 94px 18px 42px 18px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 27px;
        transition: all .3s linear;

        &:nth-child(1) {
          & h2 {
            color: #E38C3D;
          }
        }

        &:nth-child(2) {
          & h2 {
            color: #B05546;
          }
        }

        &:nth-child(3) {
          & h2 {
            color: #BACC55;
          }
        }

        &:nth-child(4) {
          & h2 {
            color: #E1B41F;
          }
        }
      }
    }

    &-form {
      width: 100%;
      margin: 268px 0 0 0;
      display: flex;
      justify-content: space-between;

      &-img {
        max-width: 720px;

        & img {
          max-width: 720px;
        }
      }

      &-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h2 {
          font-size: 50px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.045em;
          margin: 0 0 33px 0;
          line-height: 58px;
          color: #FB8349;
        }

        & p {
          width: 613px;
          font-size: 18px;
          font-weight: 300;
          text-align: center;
          margin: 0 0 95px 0;
          line-height: 22px;
          letter-spacing: 0.045em;
        }

        &-input {
          width: 437px;
          height: 55px;
          margin: 0 0 20px 0;
          position: relative;

          & input {
            width: 437px;
            height: 55px;
            background: #F4D1BC;
            font-size: 25px;
            color: #000;
            border-radius: 30px;
            padding: 13px 20px 13px 68px;
            font-weight: 300;
          }
          &:before {
            content: "";
            width: 43px;
            height: 43px;
            display: block;
            background: url("../icon/formUser.svg") center no-repeat;
            position: absolute;
            left: 17px;
            top: 50%;
            transform: translate(0, -50%);
          }
        }

        &-area {
          width: 437px;
          height: 190px;
          position: relative;
          margin: 0 0 20px 0;

          & textarea {
            width: 437px;
            height: 190px;
            background: #F4D1BC;
            padding: 13px 20px 13px 68px;
            font-size: 25px;
            color: #000;
            border-radius: 30px;
            resize: none;
            font-weight: 300;
          }

          &:before {
            content: "";
            width: 43px;
            height: 43px;
            background: url("../icon/formMessage.svg") center no-repeat;
            background-size: contain;
            position: absolute;
            left: 17px;
            top: 15%;
            transform: translate(0, -50%);
          }
        }

        &-btn {
          font-size: 24px;
          font-weight: 700;
          padding: 13px 42px;
          background: #F5B000;
          text-transform: uppercase;
          box-shadow: -1.89624px -1.89624px 6.63683px #FFE896, 1.89624px 1.89624px 5.68871px rgba(125, 90, 0, 0.83);
          border-radius: 23.7029px;
          transition: all .3s linear;
          font-family: $ubuntu;
          color: #fff;
          &:hover {
            background: #fcca3a;
            transition: all .3s linear;

          }
        }
      }
    }
  }
}
.first-input{
  &:before {
    content: "";
    width: 43px;
    height: 43px;
    display: block;
    background: url("../icon/formUser.svg") center no-repeat;
    background-size: contain;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.second-input{
  &:before {
    content: "";
    width: 43px;
    height: 43px;
    display: block;
    background: url("../icon/formEmail.svg") center no-repeat;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
@import "carousel";
.main__inner-content-main {
  margin: 290px 0 0 0;
  padding: 150px 0;
  background: #6252B0;
}

.main__inner-content {
  padding: 50px 0;

  &-top {
    margin: 0 0 100px 0;
  }

  &-row {
    display: flex;
    justify-content: space-between;
  }

  &-medyashka {
    display: flex;
    transition: all .3s linear;

    &-img {
      width: 238px;
      margin: 0 130px 0 0;
      position: relative;
      transition: all .3s linear;

      & img {
        width: 238px;
      }

      &:before {
        content: "МЕДЯШКА";
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 14px;
        font-weight: 700;
        padding: 9px 19px;
        color: #443F54;
        background: #F29641;
        border-radius: 11px;
        cursor: text;
        transition: all .3s linear;
        z-index: 100;
      }
    }

    &-info {
      padding: 44px 27px 88px 27px;
      background: #9282E0;
      border-radius: 73px;
      max-width: 325px;
      max-height: 313px;
      position: relative;
      z-index: 2;
      transition: all .3s linear;

      & h2 {
        font-size: 18px;
        letter-spacing: 0.045em;
        margin: 0 0 12px 0;
        text-transform: uppercase;
        color: #F29641;
        font-weight: 700;
      }

      & p {
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0.045em;
        color: #fff;
      }

      &:after {
        content: "";
        width: 150px;
        height: 130px;
        background: #9282E0;
        position: absolute;
        left: -5%;
        top: 50%;
        border-radius: 6px;
        z-index: -1;
        transform: translate(0, -50%) rotate(30deg);
      }
    }
  }

  &-nav {
    max-width: 434px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s linear;

    & h1 {
      font-size: 48px;
      line-height: 55px;
      font-weight: 700;
      text-align: center;
      margin: 0 0 26px 0;
      letter-spacing: 0.045em;
      text-transform: uppercase;
      color: #FB8349;
    }

    & p {
      font-size: 18px;
      font-weight: 300;
      line-height: 21px;
      letter-spacing: 0.045em;
      text-align: center;
      margin: 0 0 56px 0;
      color: #FFFAF2;
    }

    & a {
      text-decoration: none;
      color: #fff;
      padding: 14px 50px;
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 700;
      transition: all .3s linear;
      background: #F5B000;
      box-shadow: -2px -2px 10px rgba(255, 232, 150, 0.31), 2.1746px 2.1746px 6.52379px rgba(125, 90, 0, 0.83);
      border-radius: 27.1825px;

      &:hover {
        background: #fcca3a;
        transition: all .3s linear;

      }
    }
  }

  &-bottom {
    &-row {
      display: flex;
      align-items: flex-end;
      position: relative;
    }
  }

  &-zolotinka {
    position: relative;
    margin: 0 75px 0 0;
    left: 50%;
    cursor: pointer;
    transition: all .3s linear;

    &-info {
      width: 284px;
      padding: 37px 30px 37px 24px;
      background: #9282E0;
      border-radius: 73px;
      text-align: right;
      position: relative;
      transition: all .3s linear;
      z-index: 3;

      & h2 {
        font-size: 18px;
        letter-spacing: 0.045em;
        margin: 0 0 23px 0;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFB800;
        font-weight: 700;
      }

      & p {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.045em;
        color: #fff;
      }

      &:after {
        content: "";
        width: 150px;
        height: 130px;
        background: #9282E0;
        position: absolute;
        right: -5%;
        top: 40%;
        border-radius: 6px;
        z-index: -1;
        transform: translate(0, -50%) rotate(45deg);
        transition: all .3s linear;

      }
    }

    &-img {
      max-width: 194px;
      position: relative;
      transition: all .3s linear;

      & img {
        max-width: 194px;
      }

      &:before {
        content: "Золотинка";
        color: #443F54;
        padding: 9px 10px;
        background: #FFB800;
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 11px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;

      }
    }
  }

  &-victoria {
    position: relative;
    margin: 0 75px 0 0;
    left: 50%;
    cursor: pointer;
    transition: all .3s linear;

    &-info {
      width: 284px;
      padding: 37px 30px 37px 24px;
      background: #9282E0;
      border-radius: 73px;
      text-align: right;
      position: relative;
      color: #fff;
      transition: all .3s linear;
      z-index: 3;

      & h2 {
        font-size: 18px;
        letter-spacing: 0.045em;
        margin: 0 0 23px 0;
        line-height: 21px;
        text-transform: uppercase;
        color: #ADD6FF;
        font-weight: 700;
      }

      & p {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.045em;
      }

      &:after {
        content: "";
        width: 150px;
        height: 130px;
        background: #9282E0;
        position: absolute;
        right: -5%;
        top: 40%;
        border-radius: 6px;
        z-index: -1;
        transform: translate(0, -50%) rotate(45deg);
        transition: all .3s linear;

      }
    }

    &-img {
      max-width: 194px;
      position: relative;
      transition: all .3s linear;

      & img {
        max-width: 194px;
      }

      &:before {
        content: "Виктория";
        padding: 9px 16px;
        background: #ADD6FF;
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 11px;
        font-size: 14px;
        text-transform: uppercase;
        transition: all .3s linear;
        font-weight: 700;

      }
    }
  }

  &-jenka {
    position: relative;
    left: 50%;
    cursor: pointer;
    transition: all .3s linear;

    &-info {
      width: 284px;
      padding: 37px 30px 37px 24px;
      background: #9282E0;
      border-radius: 73px;
      text-align: right;
      position: relative;
      color: #fff;
      transition: all .3s linear;
      z-index: 3;

      & h2 {
        font-size: 18px;
        letter-spacing: 0.045em;
        margin: 0 0 23px 0;
        line-height: 21px;
        text-transform: uppercase;
        color: #ECA2D9;
        font-weight: 700;
      }

      & p {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.045em;
      }

      &:after {
        content: "";
        width: 150px;
        height: 130px;
        background: #9282E0;
        position: absolute;
        right: -5%;
        top: 40%;
        border-radius: 6px;
        z-index: -1;
        transform: translate(0, -50%) rotate(45deg);
        transition: all .3s linear;

      }
    }

    &-img {
      max-width: 194px;
      position: relative;
      transition: all .3s linear;

      & img {
        max-width: 194px;
      }

      &:before {
        content: "Женька";
        padding: 9px 26px;
        background: #ECA2D9;
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: 11px;
        font-size: 14px;
        text-transform: uppercase;
        transition: all .3s linear;
        font-weight: 700;
      }
    }
  }
}

.infoPers {
  opacity: 1;
  position: absolute;
  left: -1000%;
}


